@model SearchDTO
@{

}

<div class="main">
    <div class="row">
        @if (ViewBag.Search == true)
        {
            <a class="nav-btn"><b>Search in web</b></a>
            <a class="nav-btn" asp-controller="Search" asp-action="Saved">Search in saved</a>
        }
        else
        {
            <a class="nav-btn" asp-controller="Search" asp-action="Index">Search in web</a>
            <a class="nav-btn"><b>Search in saved</b></a>
        }
    </div>
    <form class="searchbar" asp-controller="Search" asp-action="@(ViewBag.Search == true ? "Index" : "Saved")" method="post">
        <input type="text" asp-for="Query" value="@Model?.Query" />
        <input type="submit" value="Go">
    </form>
    @if (Model.Results != null && Model.Results.Any())
    {
        <div class="results">
            @if (ViewBag.Search == true)
            {
                <div style="font-size: xx-large;">Results for: @Model?.Query</div>
            }
            else
            {
                <div style="font-size: xx-large;">Saved results for: @Model?.Query</div>
            }
            @foreach (var item in Model.Results)
            {
                <div class="result">
                    <a class="title" href="@item.URL" target="_blank">@item.Title</a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="results">
            <div>
                No results.
            </div>
        </div>
    }
</div>