@model SearchDTO
@{
    ViewData["Title"] = "Basic search";

}


<div class="row">
    <div class="nav-btn"><b>Search in web</b></div>
    <div class="nav-btn"><a asp-action="Saved" asp-controller="Search">Search in saved</a></div>
</div>
<form class="searchbar" asp-controller="Search" asp-action="Index" method="post">
    <input type="text" asp-for="Query" />
    <input type="submit" value="Go">
</form>
@if (Model != null)
{
    @if (Model.Results != null && Model.Results.Any())
    {
        <div class="results">
            @foreach (var item in Model.Results)
            {
                <div class="result">
                    <a class="title" href="@item.URL" target="_blank">@item.Title</a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="results">
            <div class="result" style="text-align:center">
                No results.
            </div>
        </div>
    }
}