<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/css/MainStyles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    @*<title>_Layout</title>*@
</head>
<body>
    @RenderBody()
</body>
</html>
